{% extends 'base.html'%}


{% block content %}
<div class="row">
    <!-- Left sidebar -->
    <!-- load the sidebar here -->
    {% include 'dashboard/sidebar.html' %}

    <!-- Right side content --> 
    <div class="col-md-9">
      <h3>All Categories</h3>
      <a href="{% url 'add_category'%}" class="btn btn-dark text-light float-right mb-2"> Add New</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Categories Name</th>
            <th>Created at</th>
            <th>updated at</th>
            <th>Action </th> 
          </tr>
        </thead>
        <tbody>
        {% for cat in categories %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ cat }}</td>
            <td>{{ cat.created_at }}</td>
            <td>{{ cat.updated_at }}</td>
            <td>
              {% if perms.auth.edit_category %}
              <a href="{% url 'edit_category' cat.id %}"><i class="fa fa-edit text-success"></i></a>
              {% endif %}
              &nbsp;
              {% if perms.auth.delete_category %}
              <a href="{% url 'delete_category' cat.id %} "><i class="fa fa-trash text-danger"></i></a>
              {% endif %}
              &nbsp;
            </td> 
        </tr>
        {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
  

{% endblock %}
